docker-custom/flows.json
[{"id":"e537d4aa.c66888","type":"tab","label":"流程 1","disabled":false,"info":""},{"id":"2ade1d8d.3e9bf2","type":"inject","z":"e537d4aa.c66888","name":"opcua数据采集开始","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":220,"wires":[["67899ed.969e26"]]},{"id":"3341216c.f9bfee","type":"OpcUa-Item","z":"e537d4aa.c66888","item":"ns=4;i=4451","datatype":"Double","value":"","name":"冷却时间显示值","x":500,"y":180,"wires":[["5ad4dad8.4038f4"]]},{"id":"5ad4dad8.4038f4","type":"OpcUa-Client","z":"e537d4aa.c66888","endpoint":"bb039652.dcf5a8","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":660,"y":80,"wires":[["c66645e9.e51a98","2d59a4ab.ac03cc"]]},{"id":"c66645e9.e51a98","type":"debug","z":"e537d4aa.c66888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"msg","targetType":"jsonata","statusVal":"","statusType":"auto","x":900,"y":220,"wires":[]},{"id":"67899ed.969e26","type":"function","z":"e537d4aa.c66888","name":"设置机器名称TAGDEF_01","func":"msg.machine='TAGDEF_01';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":80,"wires":[["3341216c.f9bfee"]]},{"id":"e21b898f.bdbe18","type":"influxdb out","z":"e537d4aa.c66888","influxdb":"2ff2a476.a6d2ec","name":"","measurement":"冷却时间显示值","precision":"ms","retentionPolicy":"","database":"devices_data","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"my-org","bucket":"test","x":680,"y":480,"wires":[]},{"id":"2d59a4ab.ac03cc","type":"function","z":"e537d4aa.c66888","name":"Fields","func":"msg.payload = [{\n    value: msg.payload,\n},\n{\n    tag1:msg.machine,\n    tag2:msg.browseName\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":300,"wires":[["d8f87d3f.56bcd"]]},{"id":"d8f87d3f.56bcd","type":"amqp-out","z":"e537d4aa.c66888","name":"","broker":"fca26431.2c85a8","exchangeName":"amq.direct","exchangeType":"direct","exchangeRoutingKey":"devices-data","exchangeDurable":true,"amqpProperties":"","rpcTimeoutMilliseconds":"","outputs":0,"x":1250,"y":320,"wires":[]},{"id":"d33c7e6d.01dd5","type":"amqp-in","z":"e537d4aa.c66888","name":"","broker":"fca26431.2c85a8","prefetch":"1","noAck":true,"exchangeName":"amq.direct","exchangeType":"direct","exchangeRoutingKey":"devices-data","exchangeDurable":true,"queueName":"devices-data","queueExclusive":false,"queueDurable":true,"queueAutoDelete":false,"headers":"","x":210,"y":480,"wires":[["e21b898f.bdbe18"]]},{"id":"bb039652.dcf5a8","type":"OpcUa-Endpoint","endpoint":"opc.tcp://127.0.0.1:48020","secpol":"None","secmode":"None","login":false},{"id":"2ff2a476.a6d2ec","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"fca26431.2c85a8","type":"amqp-broker","name":"","host":"localhost","port":"5672","vhost":"","tls":false},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]